header{
    width: 900px;
    margin: auto;
      }

body{
    width: 900px;
    margin: auto;
    height: auto;
    }

#header-img{
    height: 130px;
    width: 1000px;
    margin: auto;
    background-color: rgba(24, 82, 206, 0.616);
    background-image: url(img/pattern.png);
    background-repeat: repeat-x;
    background-size: 300px;
    
            }

h1{
    margin-bottom: 0px;
  }

  #autore{
    margin: 0%;
  }

  #data{
    font-size: 70%;
    margin-top:  0%;
  }

#a{
    width: 499px;
  }
    
#b{
    height: 333px;
    width: 397px;
   }

.pedici{
    font-size: 60%;
    margin: 0%;
}


#ul-lorem-ipsium{
    padding-left: 15px;
}

ktable{
    width: 100%;
    text-align: left;
}

.table-section{
    height: 100px;
}

.cella_centrale{
    height: 100px;
    width: 400px;
    text-align: left;
}

#thead_titolo{



}

.cella_titolo{
    height: 10px;
    width: 400px;
    text-align: left;
}